
.best

    background-image: url("../img/best/best-bg.jpg")
    background-repeat: no-repeat
    background-position: top
    background-size: cover
    position: relative
    padding-top: 59px


.best__title
    font-family: Gagalin, monospace
    text-align: center
    font-size: 5.14rem
    font-size: $viewport-width*0.0655



.best__choice-list
    @extend %absolute-center
    @extend %flex-center
    width: $viewport-width * 0.97272727


.best__choice-item
    text-align: center
    width: 28%
    margin: 42px 1% 0 1%


.choice__logo
    margin-bottom: 25px
    width: 26%

.choice__logo--up
    margin-top: -21px
    width: 33%




.choice__title
    font-family: Lifehack, monospace
    font-size: 1.714rem
    font-size: $viewport-width*0.023
    margin-bottom: 16px
    // line-height: 28.11px
    // line-height:
    letter-spacing: -0.6px



.choice__desc
    font-family: Ubuntu-Light, monospace
    // font-size: 1rem
    font-size: $viewport-width*0.01272727
    line-height: 24px
    line-height: $viewport-width*0.021818
