
.comments


.comments__list
    @extend %flex-center
    flex-wrap: wrap

.comment
    width: 25%
    height: $viewport-height/2
    position: relative
    overflow: hidden
    &:hover
        .comment__text
            opacity: 1





.comment__img
    filter: grayscale(100)
    min-width: 101%
    min-height: 101%
    object-fit: cover
    @extend %absolute-center




.comment__text
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: fade-out(#000, 0.3)
    color: #fff
    // padding: 41px 20px 0 20px
    padding:  $viewport-width*0.03727272727 $viewport-width*0.01818181818 0 $viewport-width*0.01818181818
    transition: 0.4s
    opacity: 0

.comment__text-name
    font-family: Gagalin, monospace
    text-transform: uppercase
    line-height: 28px
    margin-bottom: $viewport-width*0.012727272727
    font-size: $viewport-width*0.012727272727


.comment__text-desc
    font-family: Ubuntu-Light, monospace
    line-height: $viewport-width*0.02181818182
    margin-bottom: $viewport-width*0.01181818182
    font-size: $viewport-width*0.012727272727


.comment__text-more
    font-family: Ubuntu-Medium, monospace
    font-size: $viewport-width*0.01181818182
    text-transform: uppercase
    background-color: #333
    // padding: 10px 15px 9px 15px
    padding: $viewport-width*0.009090909091 $viewport-width*0.01363636364 $viewport-width*0.008181818182 $viewport-width*0.01363636364
    width: 47%
    border-radius: 6px
    text-align: center
    transition: 0.2s
    &:hover
        background-color: #222
