.form
    @include bg-img("../img/form/form-bg.jpg")
    @extend %bg-config
    &__container
        position: relative
        width: 100%
        height: 100%

        .section__title
            color: $color__orange-title
            @extend %absolute-center
            top: 18%
            width: 100%
            text-align: center
    &__order
        width: 100%
        height: 100%
        position: relative
    &__inner
        @extend %flex-center
        align-items: baseline
        @extend %absolute-center
        width: rem(961px)

    &__column
        width: 50%
        padding: rem(10px)


    &__row
        @extend %flex-center
        justify-content: space-between
        width: 100%
        margin: rem(5px) 0


.form
    &__inner
        margin-top: rem(33px)
        &-title
            color: $color-white
            font-family: 'Ubuntu'
            font-weight: 500
            line-height: rem(24px)
            font-size: rem(14px)
            margin-top: rem(10px)
            &--name
                opacity: 0

        &-input
            width: 100%
            height: rem(36px)
            border-radius: rem(6px)
            resize: none
            padding: rem(10px)
            border: rem(2px) solid transparent
            transition: 0.3s
            &:focus
                border: rem(2px) solid $color-order
    &__another-name
        @extend .form__inner-title
        position: absolute
        top: rem(-10px)
    &__person
        width: rem(220px)
        position: relative
    &__address
        &-street
            width: 100%
        &-house
            width: rem(100px)
    &__comment
        width: 100%
        .form__inner-input
            height: rem(112px)

.what-money
    justify-content: flex-start
    margin: rem(8px) rem(-1px)
.order-money
    @extend %flex-center
    justify-content: flex-start
    margin-right: rem(19px)
    &__text
        display: inline-block
        vertical-align: middle
        color: $color-white
        @extend .form__inner-title
        line-height: rem(24px)
        margin: 0
        margin-left: rem(9px)

    &__radio
        display: inline-block
        vertical-align: middle
        position: absolute
        left: -9999px




.radio-circle
    width: rem(14px)
    height: rem(14px)
    background-color: $color-white
    border-radius: 50%
    position: relative
    display: inline-block
    vertical-align: middle
    &__inner
        transition: 0.2s
        @extend %absolute-center
        width: 0px
        height: 0px
        background-color: $color-order
        border-radius: 50%


.order-money__radio:checked + .radio-circle
    .radio-circle__inner
        width: rem(6px)
        height: rem(6px)

.order-disturb
    position: relative
    margin-top: rem(10px)
    margin-left: rem(-1px)
    &__input
        display: inline-block
        vertical-align: middle
        position: absolute
        left: -9999px
    &__checkbox
        display: inline-block
        vertical-align: middle
        width: rem(14px)
        height: rem(15px)
        background-color: $color-white
        position: relative
        margin-top: rem(2px)
    &__img
        width: 0px
        height: 0px
        fill: $color-order
        @extend %absolute-center
        transition: 0.2s
    &__text
        display: inline-block
        vertical-align: middle
        @extend .form__inner-title
        margin: 0
        margin-left: rem(6px)

.order-disturb__input:checked + .order-disturb__checkbox
    .order-disturb__img
        width: rem(10px)
        height: rem(10px)

.submit
    justify-content: flex-start
    margin: rem(15px) 0
.form

    &__submit
        -webkit-appearance: none
        margin-right: rem(20px)
    &__clear
        &-link
            @extend .form__inner-title
            margin: 0





//////////////////////////////
