
.team
    @include bg-img("../img/team/team-bg.jpg")
    @extend %bg-config
    &__container
        display: block
        width: 50%
        height: 100%
        position: absolute
        top: 0
        right: rem(-10px)
        background-color: fade-out(lighten(saturate(adjust-hue($color-dark, 204), 5.05), 19.41), $fade-amount/3.1)
        padding: rem(65px) 0 0 rem(80px)
    .section__title
        color: $color__orange-title
        margin-bottom: rem(54px)
    &__accordeon

    &__person
        margin-bottom: rem(22px)
        &:hover
            .person
                &-desc
                    opacity: 1
                    height: auto
                &-triangle
                    transform: rotate(180deg)
                &-name
                    color: $color__orange-title



.person
    &-title
        @extend %flex-center
        justify-content: flex-start
        line-height: rem(28.11px)
        cursor: pointer
    &-triangle
        width: 0
        height: 0
        border: rem(4px) solid transparent
        border-top: rem(6px) solid $color__orange-title
        margin-top: rem(-4px)
        transform: translateY(50%)
        transition: 0.4s
        // transform: rotate(180deg)
    &-name
        color: $color-white
        font-family: 'Gagalin'
        font-size: rem(14px)
        margin-left: rem(10px)


    &-desc
        height: rem(100px)
        opacity: 0
        overflow: hidden
        height: 0
        transition: 0.3s


    &-portret
        width: rem(100px)
        height: rem(100px)
        border-radius: 50%
        overflow: hidden
        text-align: center
        display: inline-block
        margin-top: rem(10px)
        margin-left: rem(17px)
        margin-bottom: rem(13px)
        vertical-align: top
        position: relative
        &__img
            height: rem(100px)
            max-width: none
            @extend %absolute-center


    &-about
        width: rem(208px)
        height: rem(100px)
        line-height: rem(24px)
        font-size: rem(14px)
        color: $color-white
        display: inline-block
        vertical-align: top
        margin-left: rem(17px)
        margin-top: rem(4px)
        &__job
            font-weight: 700
        &__text
            font-weight: 300
            margin-top: rem(10px)



.team__person--active

    .person
        &-desc
            opacity: 1
            height: auto
        &-triangle
            transform: rotate(180deg)
        &-name
            color: $color__orange-title
