// out: style.css, compress: true
@font-face {
    font-family: GothamProLig;
    src: url("../maket/fonts/GothaProLig.otf");
}
@font-face {
    font-family: GothamProBol;
    src: url("../maket/fonts/GothaProBol.otf");
    font-variant: small-caps;
}
@font-face {
    font-family: GothamProLigIta;
    src: url("../maket/fonts/GothaProLigIta.otf");
}
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:700&subset=cyrillic');
@themeColor: #ec1e79;
@themeSecondColor: #27273e;
@themeThirdColor: #5dd1f8;

body,
html {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.header {
    width: 100%;
    // width: 1100px;
    height: 71px;
    background-color: @themeSecondColor;
}

.header-logo {
    float: left;
    margin: 7px 0 0 19px;
}

.header-contact {
    float: right;
    margin: 12px 20px 0 0;
}

.header-contact__number {
    font-family: GothamProBol, sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: white;
    float: right;
}

.header-contact__time {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: darken(@themeColor, 10%);
    font-size: 14px;
    line-height: 15px;
    margin-right: 1px;
    text-decoration: underline;
}

.main {
    margin: 0 auto;
    width: 1100px;
}

.navigation {
    float: left;
    list-style: none;
    padding-left: 20px;
    padding-top: 29px;
    margin: 0;
    width: 170px;
}

.navigation__item {
    li > * {
        display: inline-block;
    }
    text-decoration: none;
    // text-align: justify;
    width: 100px;
    color: @themeColor;

    &:hover {
        color: @themeSecondColor;
    }
}

.navigation__item-icon {
    width: 1ch;
    font-size: 20px;
    padding-right: 22px;
    padding-left: 1px;
    line-height: 48px;
}

.navigation__item-label {
    font-size: 12px;
    font-family: GothamProBol, sans-serif;
    line-height: 48px;
    vertical-align: middle;
    letter-spacing: 1px;
}

.content {
    float: left;
    width: 900px;
    padding-left: 3px;
    padding-bottom: 55px;
}

.breadcrumbs {
    margin: 0;
    padding: 44px 0 26px 7px;
    font-family: GothamProLigIta, sans-serif;
    font-size: 14px;

    li {
        display: inline-block;
        color: @themeColor;

        &:hover {
            color: @themeSecondColor;
        }
    }
}

.breadcrumbs__item-home {
    &::after {
        content: " /";
    }
    text-decoration: none;
}

.content__title {
    h1 {
        font-family: GothamProBol, sans-serif;
        font-size: 49px;
        margin: 0;
    }
}

.schedule {
    padding-left: 7px;
    margin: 0;
    padding-top: 41px;
    list-style: none;
    // display: inline-flex;
}

.schedule__item {
    display: inline-table;
    width: 250px;
    padding-right: 51px;

    &:nth-of-type(3) {
        padding-right: 0;
    }

    &:nth-of-type(6) {
        padding-right: 0;
    }
}

.schedule__item-title {
    width: 250px;
    height: 153px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    // line-height: 153px;
    color: @themeThirdColor;
    font-size: 24px;
    font-family: GothamProBol, sans-serif;

    > div {
        width: 100%;
        height: 100%;
        background-color: @themeSecondColor;
        opacity: 0.85;

        &::before {
            content: "";
            display: inline-block;
            min-height: inherit;
            height: 100%;
            vertical-align: middle;
        }

        > span {
            display: inline-block;
            vertical-align: middle;
            padding-top: 3px;
            padding-right: 7px;
            line-height: 32px;

            > span {
                color: @themeColor;
            }
        }
    }
}

.schedule {
    li {
        &:nth-of-type(1) {
            .schedule__item-title {
                background-image: url("img/one.jpg");
            }
        }

        &:nth-of-type(2) {
            .schedule__item-title {
                background-image: url("img/three.jpg");
            }
        }

        &:nth-of-type(3) {
            .schedule__item-title {
                background-image: url("img/ten-ten.jpg");
            }
        }

        &:nth-of-type(4) {
            .schedule__item-title {
                background-image: url("img/unlimOne.jpg");
            }
        }

        &:nth-of-type(5) {
            .schedule__item-title {
                background-image: url("img/allEnclusive.jpg");
            }
        }

        &:nth-of-type(6) {
            .schedule__item-title {
                background-image: url("img/meetingRoom.jpg");
            }
        }
    }
}

.schedule__item-desc {
    // height: 100px;
    padding: 26px 0 0;
    height: 237px;
}

.schedule__item-desc__price {
    font-size: 18px;
    margin: 0 auto;
    font-family: GothamProBol, sans-serif;
    text-align: center;
    line-height: 20px;
}

.schedule__item-desc__spec {
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    padding-top: 12px;
    font-family: GothamProLig, sans-serif;
}

.footer {
    width: 100%;
    height: 76px;
    background-color: @themeSecondColor;
    float: left;
    overflow: hidden;
}

.footer__logo,
.footer__postscript,
.footer__social {
    display: inline-block;
    color: white;
}

.footer__postscript {
    width: 268px;
    padding-left: 19px;
    font-family: GothamProLig, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding-top: 11px;

    span {
        font-family: GothamProBol, sans-serif;
        color: white;
    }
    a{
        color: white;
    }
}

.footer__social {
    li {
        display: inline-block;
    }
    font-family: GothamProBol, sans-serif;
    float: right;
    padding-right: 21px;
    padding-top: 20px;
}

.footer__social-title {
    font-size: 14px;
}

.footer__social-icons {
    margin: 0;
    padding: 8px 0 0;
    padding-left: 3px;
}
@themeFourthColor: #d4d4d8;

.footer__social-icons__item {
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    color: @themeSecondColor;
    background-color: @themeFourthColor;
    border-radius: 10px;
    margin-right: 5px;

    &:hover {
        cursor: pointer;
        background-color: @themeColor;
    }
}

.footer__logo {
    position: absolute;
    left: 50%;
    padding-top: 14px;
    // padding-left: 1px;
    padding-right: 3px;
    transform: translate(-50%);
}
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
