// out: style.css, compress: true
@font-face {
    font-family: GothamProLig;
    src: url("../fonts/GothaProLig.otf");
}
@font-face {
    font-family: GothamProBol;
    src: url("../fonts/GothaProBol.otf");
    font-variant: small-caps;
}
@font-face {
    font-family: GothamProLigIta;
    src: url("../fonts/GothaProLigIta.otf");
}
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:700&subset=cyrillic');
@themeColor: #ec1e79;
@themeSecondColor: #27273e;
@themeThirdColor: #5dd1f8;

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    &::after{
        content: "";
        width: 100%;
        height: 77px;
        display: block;
    }

}

.clearfix{
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
.header {
    width: 100%;
    height: 71px;
    background-color: @themeSecondColor;
}

.header-logo {
    float: left;
    margin: 7px 0 0 19px;
}

.header-contact {
    width: 250px;
    float: right;
    margin: 12px 20px 0 0;
}

.header-contact__number {
    font-family: GothamProBol, sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: white;
    float: right;
    text-decoration: none;
}

.header-contact__text {
    font-family: GothamProBol, sans-serif;
    float: right;
    color: darken(@themeColor, 10%);
    font-size: 14px;
    line-height: 18px;
    margin-right: 1px;
    text-decoration: underline;
    transition: 0.2s;
    display: block;

    > .header-contact__text-time {
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        display: none;
        height: 70px;
        margin-left: -46px;
        position: absolute;
        top: 75px;
        width: 162px;
        z-index: 100;

        &::before {
            background-color: white;
            border-radius: 2px;
            content: "";
            float: right;
            height: 16px;
            margin-right: 3px;
            margin-top: -7px;
            transform: rotate(45deg);
            width: 16px;
        }

        > .time-text {
            line-height: 22px;
            padding-left: 12px;
            padding-top: 13px;
        }
    }

    &:hover {
        > .header-contact__text-time {
            display: block;
        }
        cursor: pointer;
        color: @themeThirdColor;
    }
}

.time-text_red {
    font-size: 14px;
    color: @themeColor;
    font-family: GothamProBol, sans-serif;
}

.time-text_black {
    font-size: 14px;
    color: @themeSecondColor;
    font-family: GothamProLig, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

.navigation {
    float: left;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 29px;
    width: 110px;
}

.navigation__item-link {
    text-decoration: none;
    transition: 0.3s;
    color: @themeColor;

    &:hover {
        color: @themeSecondColor;
    }
}

.navigation__item-icon {
    display: inline-block;
    font-size: 20px;
    line-height: 48px;
    padding-left: 1px;
    padding-right: 22px;
    width: 1ch;
}

.navigation__item-label {
    display: inline-block;
    font-family: GothamProBol, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 39px;
    vertical-align: middle;
}

.footer {
    width: 100%;
    height: 77px;
    margin-top: -76px;
    background-color: @themeSecondColor;
    // float: left;
    overflow: hidden;
    cursor: default;
    position: relative;
}

.footer__logo,
.footer__postscript,
.footer__social {
    display: inline-block;
    color: white;
}

.footer__postscript {
    width: 268px;
    padding-left: 19px;
    font-family: GothamProLig, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding-top: 11px;
}

.footer__social {
    font-family: GothamProBol, sans-serif;
    float: right;
    padding-right: 21px;
    padding-top: 20px;
}

.footer__social-title {
    font-size: 14px;
}

.footer__social-icons {
    > * {
        display: inline-block;
    }
    margin: 0;
    padding: 8px 0 0 3px;
}
@themeFourthColor: #d4d4d8;

.footer__social-icons__item {
    font-size: 12px;
    height: 20px;
    line-height: 22px;
    width: 20px;
    text-align: center;
    background-color: @themeFourthColor;
    border-radius: 10px;
    margin-right: 5px;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: @themeColor;
    }

    > * {
        text-decoration: none;
        color: @themeSecondColor;
    }
}

.footer__logo {
    position: absolute;
    left: 46.49%;
    top: 14px;
    // padding-top: 14px;
    // // padding-left: 1px;
    // padding-right: 3px;
    // transform: translate(-50%);
    display: block;
}

.content {
    float: left;
    width: 900px;
    padding-left: 3px;
}
/////////rates/////////

.breadcrumbs {
    margin: 0;
    padding: 44px 0 26px 7px;
    font-family: GothamProLigIta, sans-serif;
    font-size: 14px;

    > * {
        display: inline-block;
    }
}

.breadcrumbs__item {
    &::before {
        content: "/ ";
    }
    color: @themeColor;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: @themeSecondColor;
    }
}

.breadcrumbs__item-home {
    &::before {
        content: '';
        color: @themeSecondColor;
    }
}

.breadcrumbs__item-current {
    &::before {
        content: "/";
    }
    cursor: default;
    color: @themeSecondColor;
}

.content__title {
    font-family: GothamProBol, sans-serif;
    font-size: 49px;
    margin: 0;
    cursor: default;
}

.schedule {
    padding-left: 7px;
    margin: 0;
    padding-top: 41px;
    list-style: none;
    cursor: default;
    padding-bottom: 55px;
}

.schedule__item {
    display: inline-table;
    width: 250px;
    padding-right: 51px;

    &:nth-of-type(3) {
        padding-right: 0;
    }

    &:nth-of-type(6) {
        padding-right: 0;
    }
}

.schedule__item-title {
    width: 250px;
    height: 153px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    // line-height: 153px;
    color: @themeThirdColor;
    font-size: 24px;
    font-family: GothamProBol, sans-serif;
    border-radius: 5px;

    > div {
        width: 100%;
        height: 100%;
        background-color: @themeSecondColor;
        opacity: 0.85;
        border-radius: 5px;

        &::before {
            content: "";
            display: inline-block;
            min-height: inherit;
            height: 100%;
            vertical-align: middle;
        }

        > span {
            display: inline-block;
            vertical-align: middle;
            padding-top: 3px;
            padding-right: 7px;
            line-height: 32px;

            > span {
                color: @themeColor;
            }
        }
    }
}

.schedule {
    li {
        &:nth-of-type(1) {
            .schedule__item-title {
                background-image: url("../rates/img/one.jpg");
            }
        }

        &:nth-of-type(2) {
            .schedule__item-title {
                background-image: url("../rates/img/three.jpg");
            }
        }

        &:nth-of-type(3) {
            .schedule__item-title {
                background-image: url("../rates/img/ten-ten.jpg");
            }
        }

        &:nth-of-type(4) {
            .schedule__item-title {
                background-image: url("../rates/img/unlimOne.jpg");
            }
        }

        &:nth-of-type(5) {
            .schedule__item-title {
                background-image: url("../rates/img/allEnclusive.jpg");
            }
        }

        &:nth-of-type(6) {
            .schedule__item-title {
                background-image: url("../rates/img/meetingRoom.jpg");
            }
        }
    }
}

.schedule__item-desc {
    // height: 100px;
    padding: 26px 0 0;
    height: 237px;
}

.schedule__item-desc__price {
    font-size: 18px;
    margin: 0 auto;
    font-family: GothamProBol, sans-serif;
    text-align: center;
    line-height: 20px;
}

.schedule__item-desc__spec {
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    padding-top: 12px;
    font-family: GothamProLig, sans-serif;
}
/////////main///////

.main-content__header {
    width: 879px;
    box-sizing: border-box;
    margin-left: 8px;
    margin-bottom: 10px;
    // height: 200px;
}

.main-content__header-image {
    width: 100%;
    height: 354px;
    position: relative;
    overflow: hidden;
}

.main-content__header-title {
    margin: 0;
    text-transform: uppercase;
    font-family: GothamProBol, sans-serif;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 159px;
    left: 65px;
}

.content-header__image-dir {
    width: 100%;
}

.main-content__text {
    line-height: 30px;
    width: 690px;
    box-sizing: border-box;
    margin-left: 7px;
    margin-top: 24px;
    margin-bottom: 20px;
    font-family: GothamProLig, sans-serif;
}

.main-content__text-paragraph {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.main__list-title {
    font-size: 18px;
    font-family: GothamProBol, sans-serif;
}

.main__list-items {
    margin: 0;
    padding-left: 26px;
    padding-top: 5px;
    line-height: 33px;
    font-size: 18px;

    li {
        list-style: none;
        color: black;
        padding-left: 15px;
        text-indent: -5px;

        &:before {
            content: '\2022';
            color: #ec1e79;
            // padding: 0 14px 0 0;
            position: absolute;
            margin-left: -15px;
        }
    }
}

.main-content__discount {
    font-family: GothamProLig, sans-serif;
    font-size: 18px;
    margin-left: 7px;
    line-height: 30px;
    box-sizing: border-box;
    width: 700px;
    background-color: @themeSecondColor;
    color: white;
    padding: 12px 30px;
    margin-bottom: 66px;

    span {
        color: @themeColor;
    }
}

.main-content__partners {
    width: 780px;
}

.main-content__partners-title {
    font-size: 48px;
    font-family: GothamProBol, sans-serif;
    padding-left: 8px;
    text-transform: uppercase;
}

.main-content__partners-logos {
    // width: 700px;
    margin: 0;
    padding: 0;
    margin-left: -173px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 22px;
}

.partners-logo {
    display: inline-block;
    display: inline-block;
    width: 160px;
    margin-left: 105px;
    margin-bottom: 47px;
    filter: grayscale(100%);
    opacity: 0.55;
    transition: 0.3s;

    &:hover {
        filter: grayscale(0);
        opacity: 1;
    }
}
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
