* {
  transition: 0.2s;
}
@font-face {
  font-family: GothaProLig;
  src: url("maket/fonts/GothaProLig.otf");
}
@font-face {
  font-family: GothaProBol;
  src: url("maket/fonts/GothaProBol.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: GothaProLigIta;
  src: url("maket/fonts/GothaProLigIta.otf");
}
html {
  background-image: url("maket/img/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgba(236, 30, 121, 0.15);
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container img {
  margin: 0 0 12px 9px;
}
.container p {
  width: 176px;
  height: 38px;
  color: #ec1e79;
  border: 3px solid #ec1e79;
  font-size: 12px;
  line-height: 42px;
  text-align: center;
  font-family: 'GothamProLigBol', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.container p:hover {
  background-color: #ec1e79;
  color: white;
}
.container a {
  text-decoration: none;
}
